  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');
  /*  font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif; 
    width : 1532px */

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
      font-family: 'Roboto', sans-serif;
  }

  body {
      width: 100vw;
      height: 100vh;
      background-color: rgb(172, 217, 249);
      color: white;
  }

  /* * * * * * * * * * * navbar * * * * * * * * * * */
  .navbar {
      display: flex;
      justify-content: space-between;
      height: 60px;
      background-color: #131921;
      gap: 20px;
      padding: 5px 15px;
  }

  /*  * * * * * navbar-left * * * * * */
  .navbar-left {
      display: flex;
      height: 100%;
      gap: 10px;
  }

  .navbar-left .logo {
      display: flex;
      height: 100%;
      padding: 0 5px;
      align-items: center;
  }

  .navbar-left .logo:hover {
      border: 1px solid white;
  }

  .navbar-left .logo img {
      height: 28px;
  }

  .navbar-left .logo span {
      color: white;
      margin-bottom: 8px;
  }

  /* * * * * * *  location-bar  * * * * * * * */

  .navbar-left .location-bar {
      display: flex;
      align-items: center;
      color: white;
      padding: 0 5px;
  }

  .navbar-left .location-bar:hover {
      border: 1px solid white;
  }

  .navbar-left .location-bar .location {
      display: flex;
      flex-direction: column;
  }

  .navbar-left .location-bar .location .deliver-to {
      color: #bebebf;
      font-size: 12px;
  }

  .navbar-left .location-bar .location .location-add {
      font-size: 14px;
      font-weight: 600;
  }

  .navbar-left .location-bar .location-icon img {
      height: 20px;
      margin-top: 12px;
      margin-right: 3px;
  }

  /* * * * * * * * * * * ------- * * * * * * * * * * */



  /* * * * * * *  navbar-center * * * * * * * */

  .navbar-center {
      display: flex;
      color: #5a5a5a;
      margin: 5px;
      /* box-shadow: 1px 1px 10px #febd69; */
  }


  .navbar-center:hover {
      /* border: 2px solid #ffa32a; */
      border-radius: 5px;
  }

  .search-bar {
      display: flex;
      border-radius: 5px;
  }

  .search-bar .all-category {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #e6e6e6;
      border-radius: 5px 0 0 5px;
      width: 50px;
      gap: 10px;
      border-right: 1px solid rgb(201, 201, 201);

  }

  .search-bar .all-category .all-text {
      font-size: 12px;
  }

  .search-bar .all-category img {
      height: 08px;
  }



  .search-bar .search-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      background-color: #febd69;
      border-radius: 0 5px 5px 0;

  }

  .search-bar .search-icon img {
      height: 20px;
  }

  .search-bar input {
      display: flex;
      width: 660px;
      padding: 0 10px;
      border: none;
      outline: none;
      font-size: 15px;
  }

  /* * * * * * * * * * * ------ * * * * * * * * * * */



  /* * * * * * * *  * navbar- right* * * * * * * * * */

  .navbar-right {
      display: flex;
      align-items: center;
      gap: 20px;
  }

  .navbar-right .language-bar {
      display: flex;
      align-items: center;
      padding: 5px;
      height: 100%
  }

  .navbar-right .language-bar:hover {
      border: 1px solid white;
  }

  .navbar-right .language-bar .language-sec {
      display: flex;
      padding-top: 10px;
  }


  .navbar-right .language-bar .india-flag {
      height: 15px;
      border-radius: 2px;
      margin-right: 3px;
  }

  .navbar-right .language-bar .language-name {
      font-size: 14px;
      margin-top: 1px;
      font-weight: 500;
  }

  .language-down-icon {
      height: 8px;
      margin-top: 8px;
      margin-left: 3px;
  }

  /* --------------------------------------- */
  .accounts-bar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 5px;
      height: 100%;
      line-height: 10px;
  }

  .accounts-bar:hover {
      border: 1px solid white;
  }

  .accounts-bar .line-1 {
      font-size: 12px;
  }

  .accounts-bar .line-2 {
      font-size: 14px;
      font-weight: 500;
  }

  .accounts-bar .line-2 img {
      height: 8px;
      margin-top: 8px;
      margin-left: 3px;
  }

  /* --------------------------------- */
  .orders-bar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 5px;
      height: 100%;
  }
  .orders-bar:hover {
      border: 1px solid white;
  }

  .orders-bar .line-1 {
      font-size: 12px;
  }

  .orders-bar .line-2 {
      font-size: 14px;
      font-weight: 500;
  }

  /* ---------------------------------- */

  .carts {
      display: flex;
      padding: 5px;
  }

  .carts:hover {
      border: 1px solid white;
  }

  .carts .cart-img {
      display: flex;
      align-items: center;
      position: relative;
      align-items: center;
  }

  .carts .cart-img img {
      width: 45px;
  }

  .carts .cart-img .cart-num {
      position: absolute;
      left: 22px;
      bottom: 14px;
      font-weight: 600;
      color: #f08804;
  }

  .cart-text {
      display: flex;
      margin-top: 20px;
      font-size: 14px;
      margin-left: -3px;
      font-weight: 500;
  }

  /* * * * * * * * * * * navbar * * * * * * * * * * */
  /* * * * * * * * * * * navbar * * * * * * * * * * */
  /* * * * * * * * * * * navbar * * * * * * * * * * */
  /* * * * * * * * * * * navbar * * * * * * * * * * */
  /* * * * * * * * * * * navbar * * * * * * * * * * */
  /* * * * * * * * * * * navbar * * * * * * * * * * */
  /* * * * * * * * * * * navbar * * * * * * * * * * */
  /* * * * * * * * * * * navbar * * * * * * * * * * */
  /* * * * * * * * * * * navbar * * * * * * * * * * */
  /* * * * * * * * * * * navbar * * * * * * * * * * */
  /* * * * * * * * * * * navbar * * * * * * * * * * */
  /* * * * * * * * * * * navbar * * * * * * * * * * */
  /* * * * * * * * * * * navbar * * * * * * * * * * */
  /* * * * * * * * * * * navbar * * * * * * * * * * */
  /* * * * * * * * * * * navbar * * * * * * * * * * */