@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');
/*  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif; 
  width : 1532px */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #e3e6e6;
    color: white;
}

/* * * * * * * * * * * navbar * * * * * * * * * * */
.navbar {
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: #131921;
    padding: 5px 15px;
}

/*  * * * * * navbar-left * * * * * */
.navbar-left {
    display: flex;
    height: 100%;
    gap: 2px;
}

.navbar-left .logo {
    display: flex;
    height: 100%;
    padding: 0 7px 0 5px;
    align-items: center;
}

.navbar-left .logo:hover {
    border: 1px solid white;
    border-radius: 2px;
    cursor: pointer;
}

.navbar-left .logo img {
    /* height: 27px; */
    width: 90px;
}

.navbar-left .logo span {
    color: white;
    margin-bottom: 8px;
}

/* * * * * * *  location-bar  * * * * * * * */

.navbar-left .location-bar {
    display: flex;
    align-items: center;
    color: white;
    padding: 0 9px 0 09px;
}

.navbar-left .location-bar:hover {
    border: 1px solid white;
    border-radius: 2px;
    cursor: pointer;
}

.navbar-left .location-bar .location {
    display: flex;
    flex-direction: column;
}

.navbar-left .location-bar .location .deliver-to {
    color: #bebebf;
    font-size: 12px;
}

.navbar-left .location-bar .location .location-add {
    font-size: 14px;
    font-weight: 600;
}

.navbar-left .location-bar .location-icon img {
    height: 20px;
    margin-top: 12px;
    margin-right: 4px;
}

/* * * * * * * * * * * ------- * * * * * * * * * * */



/* * * * * * *  navbar-center * * * * * * * */

.navbar-center {
    display: flex;
    color: #5a5a5a;
    margin: 5px 0;
}


.navbar-center:hover {
    border-radius: 5px;
}

.search-bar {
    display: flex;
    border-radius: 5px;
}

.search-bar .all-category {
    display: flex;
    background-color: #e6e6e6;
    border-radius: 5px 0 0 5px;
}

.all-category-hub {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6e6e6;
    border-radius: 5px 0 0 5px;
    width: 50px;
    gap: 10px;
    cursor: pointer;
}

.search-bar .all-category:hover {
    background-color: #c7c6c6;
    color: black;
}

.search-bar .all-category .all-text {
    font-size: 12px;
}

.search-bar .all-category img {
    height: 08px;
}

/* * * * * * drop down * * * * *  */
.all-category-drop-down {
    position: absolute;
    margin-top: 39px;
    width: 210px;
    height: 525px;
    overflow: scroll;
    border: 10px solid red;
    border-radius: 5px;
    color: black;
    background-color: #e4e4e4;
    cursor: default;
    border: 1px solid rgb(162, 162, 162);
    display: none;
    z-index: 1;
}

.all-category-drop-down ul li {
    padding: 4px 0 4px 10px;
}

.all-category-drop-down ul li:hover {
    background-color: #d6d6d6;
}

.all-search-bar {
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.search-bar .search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    background-color: #febd69;
    border-radius: 0 5px 5px 0;
}

.search-bar .search-icon:hover {
    background-color: #f0a543;
    cursor: pointer;
}

.search-bar .search-icon img {
    height: 20px;
}

.search-bar input {
    display: flex;
    width: 710px;
    padding: 0 10px;
    border: none;
    outline: none;
    font-size: 15px;
}

/* * * * * * * * * * * ------ * * * * * * * * * * */



/* * * * * * * *  * navbar- right* * * * * * * * * */

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right .language-bar {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 100%
}

.navbar-right .language-bar:hover {
    border: 1px solid white;
    border-radius: 2px;
    cursor: pointer;
}

.navbar-right .language-bar .language-sec {
    display: flex;
    padding-top: 10px;
}


.navbar-right .language-bar .india-flag {
    height: 15px;
    border-radius: 1px;
    margin-right: 3px;
}

.navbar-right .language-bar .language-name {
    font-size: 14px;
    margin-top: 1px;
    font-weight: 500;
}

.language-down-icon {
    height: 8px;
    margin-top: 8px;
    margin-left: 3px;
}

/* --------------------------------------- */
.accounts-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    height: 100%;
    line-height: 10px;
}

.accounts-bar:hover {
    border: 1px solid white;
    border-radius: 2px;
    cursor: pointer;
}

.accounts-bar .line-1 {
    font-size: 12px;
}

.accounts-bar .line-2 {
    font-size: 14px;
    font-weight: 500;
}

.accounts-bar .line-2 img {
    height: 8px;
    margin-top: 8px;
    margin-left: 3px;
}

/* --------------------------------- */
.orders-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    height: 100%;
}

.orders-bar:hover {
    border: 1px solid white;
    border-radius: 2px;
    cursor: pointer;
}

.orders-bar .line-1 {
    font-size: 12px;
}

.orders-bar .line-2 {
    font-size: 14px;
    font-weight: 500;
}

/* ---------------------------------- */

.carts {
    display: flex;
    padding: 5px;
}

.carts:hover {
    border: 1px solid white;
    border-radius: 2px;
    cursor: pointer;
}

.carts .cart-img {
    display: flex;
    align-items: center;
    position: relative;
    align-items: center;
}

.carts .cart-img img {
    width: 45px;
}

.carts .cart-img .cart-num {
    position: absolute;
    left: 22px;
    bottom: 14px;
    font-weight: 600;
    color: #f08804;
}

.cart-text {
    display: flex;
    margin-top: 20px;
    font-size: 14px;
    margin-left: -3px;
    font-weight: 500;
}

/* * * * * * *  choose location popup  * * * * * * */

.choose-location-popup {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 120px);
    align-items: center;
    justify-content: center;
    position: fixed;
    display: none;
    z-index: 2;
}

.choose-location-box {
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 250px;
    align-items: center;
    /* justify-content: center; */
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #d5d9d9;
    box-shadow: 0 0 14px rgba(15, 17, 17, 0.5);
}

.choose-location-title {
    position: relative;
    width: 100%;
    height: 50px;
    font-weight: 600;
    background-color: #f0f2f2;
    padding: 15px 20px;
    color: #0f1111;
    border-bottom: 1px solid #dfe2e2;
}


.choose-location-bottom {
    display: flex;
    flex-direction: column;
    margin: 20px 25px;
    gap: 10px;
}

.choose-location-bottom-desc {
    font-size: 12.3px;
    line-height: 20px;
    color: #6a6c6c;
}

.choose-location-bottom .signin-address {
    background-color: #ffd814;
    border: none;
    outline: none;
    height: 30px;
    border-radius: 8px;
}

.choose-location-bottom .signin-address:hover {
    background-color: #d4b410;
    cursor: pointer;
}

.choose-location-bottom-enter-pincode {
    display: flex;
    height: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

}

.choose-location-bottom-enter-pincode .underline {
    width: 100%;
    border-bottom: 1px solid #6a6c6c;
}

.choose-location-bottom-enter-pincode .enterpincode-text {
    font-size: 12.3px;
    position: absolute;
    background-color: white;
    color: #6a6c6c;
    padding: 0 5px;
}


.choose-location-bottom-input-bar {
    display: flex;
    height: 30px;
    gap: 10px;
}

.choose-location-bottom-input-bar input {
    width: 220px;
    border: 1px solid #acafaf;
    outline: none;
    padding: 5px 10px;
    border-radius: 4px;
    box-shadow: inset 0 0 3px rgb(198, 198, 198);
}


.choose-location-bottom .pincode-apply {
    background-color: transparent;
    border: 1px solid #acafaf;
    outline: none;
    height: 30px;
    width: 100px;
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgb(198, 198, 198);
}

.choose-location-bottom .pincode-apply:hover {
    cursor: pointer;
    background-color: #efefef;
}

/*  * * * * * second navbar * * * * *  */

.second-navbar {
    display: flex;
    justify-content: space-between;
    height: 40px;
    background-color: #232f3e;
}

.second-navbar .second-nav {
    display: flex;
    height: 100%;
    margin: 0 15px;
}

.second-nav .second-nav-left {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 5px;
    padding: 6px;
}

.second-nav .second-nav-left:hover {
    border: 1px solid white;
    border-radius: 2px;
}

.second-nav .second-nav-left img {
    width: 15px;
}

.second-nav .second-nav-left span {
    font-size: 14px;
    font-weight: 600;
}

/* * * * * * second center navbar */

.second-nav .second-nav-center {
    display: flex;
    align-items: center;
}

.second-nav .second-nav-center a {
    display: flex;
    align-items: center;
    outline: none;
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 0 9px;
    font-size: 14px;
}

.prime-arrow {
    width: 8px;
    margin-left: 5px;
}

.second-nav .second-nav-center a:hover {
    border: 1px solid white;
    border-radius: 2px;
}

.second-nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shoping-made-easy {
    display: flex;
    width: 350px;
}

.shoping-made-easy:hover {
    border: 1px solid white;
    border-radius: 2px;
}

/* * * * * * * * * * * cont-body * * * * * * * * * * */

.cont-body {
    width: 100%;
}

.cont-body .first-raw {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cont-body .first-raw .bg-images .offer-img {
    position: absolute;
}

.cont-body .first-raw .bg-images .offer-img img {
    width: 100%;
    padding: 0 20px;
}

.cont-body .first-raw .bg-images .first-raw-simbol {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 260px;
    width: 100%;
    position: relative;

}

.cont-body .first-raw .bg-images .first-raw-simbol img {
    height: 40px;
    margin: 0 30px;
}

/* * * * * * fourbyfour boxes * * * * *  */


.first-raw-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.forbyfour {
    display: flex;
    position: relative;
    height: 420px;
    width: 350px;
    background-color: rgb(255, 255, 255);
}

.forbyfour-box {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    padding: 20px;
}

.forbyfour-box .heading {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    color: black;
}

.four-boxes {
    display: flex;
    flex-wrap: wrap;
    width: 310px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    margin-bottom: 5px;
}


.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;
}

.box img {
    height: 100px;
    width: 150px;
    object-fit: cover;
    overflow: hidden;
}

.box span {
    height: 40px;
    width: 100%;
    font-size: 11px;
    margin-top: 2px;
    color: #000000;
    line-height: 15px;
    letter-spacing: 0.6px;
}

.exploreall {

    display: flex;
    color: black;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    font-size: 13px;
}















/* * * * * * * * * * * navbar * * * * * * * * * * */
/* * * * * * * * * * * navbar * * * * * * * * * * */
/* * * * * * * * * * * navbar * * * * * * * * * * */
/* * * * * * * * * * * navbar * * * * * * * * * * */
/* * * * * * * * * * * navbar * * * * * * * * * * */
/* * * * * * * * * * * navbar * * * * * * * * * * */
/* * * * * * * * * * * navbar * * * * * * * * * * */
/* * * * * * * * * * * navbar * * * * * * * * * * */
/* * * * * * * * * * * navbar * * * * * * * * * * */
/* * * * * * * * * * * navbar * * * * * * * * * * */
/* * * * * * * * * * * navbar * * * * * * * * * * */
/* * * * * * * * * * * navbar * * * * * * * * * * */
/* * * * * * * * * * * navbar * * * * * * * * * * */